/* app.css */
/* 
* {
  box-shadow: inset 0px 0px 5px rgba(255, 0, 0, 0.5);
} */

html {
  scroll-behavior: smooth;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}



/* VARIÃVEIS */

:root {
  --base_color: rgb(65, 53, 53);
  /* Cor do footer */
  --body: rgb(240, 234, 233);
  /* Cor do body */
  --hint-ofred: #f7f4f4;
  --tundora: #433a3b;
  --sand-dune: #896f65;
  --martini: #a69c9a;
  --squirrel: #9b877e;
  --silk: #bdafab;
  --silver: #cecaca;
  --silver-rust: #c5bdba;
  --gunsmoke: #7c8484;
}

/* BODY */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 234, 233);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* */

.sideb {
  margin: 0;
}

.sideb a {
  text-decoration: none;
  color: var(--hint-ofred);
}

.sideb a:hover {
  background-color: var(--sand-dune);

  color: var(--hint-ofred);
}

#tabela-clientes {
  width: 95%;
}

#tabela-clientes td,
tr {
  border: solid rgb(117, 117, 117) 1px;
}

#tabela-clientes tr {
  width: 10%;
}

#tabela-clientes th {
  background-color: #433a3b;
  color: white;
}

#tabela-clientes td {
  width: 1%;
  white-space: nowrap;
  background-color: var(--hint-ofred);
}

#tabela-clientes td,
tr {
  background-color: #fff;
}

.navegacao {
  display: flex;
  overflow: hidden;
  background-color: var(--base_color);
  width: 100%;
  color: black;
}

.nav-item {
  text-decoration: none;
  position: relative;
  text-overflow: ellipsis;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  top: 50%;
  overflow: hidden;
}

.nav-item:hover {
  border-bottom: solid var(--martini) 1px;
}

#logo {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0px 10px;
  display: inline-block;
}

.rodape {
  background-color: var(--base_color);
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Set a style for all buttons */
.delbtn {
  background-color: rgb(160, 57, 57);
  color: white;
  opacity: 0.9;
  border: #9b877e solid 1px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 234, 233);

  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}





/* ********************************
STYLES ADMIN*/
 
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}


input[type = "file"]{

display: none;
}
